body {
    background-color: rgba(226, 57, 5, 0.623);
}

.father {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 800px;
    width: 800px;
    align-self: center;
    
}

.blocks {
    background-color: red;
    border: 1px solid black;
    font-size: 100px;
}

.buttons > div > button {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    gap: 10px;
    outline: none;
    border: 1px;
}

.buttons > div > p {
    font-size: 30px;
    grid-column: 1 / 3;
    margin-left: 125px;
}

.butto {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    gap: 20px;
    outline: none;
    border: 1px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
.footer {
    margin-top: 50px;
}

.titles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    margin-top: 75px;
    
}

.anounce , .name-1, .name-2{
    align-self: center;
    justify-self: center;
    font-size: 25px;
}

.anounce {
 font-size: 25px;
}

